<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MembersOnly</h1>
    <div class="sign-up">
      <h2><%= title %></h2>
      <form action="" method="POST" id="sign-up">
        <label for="username">Email:</label>
          <input type="text" id="username" name="username">
        <label for="password">Password:</label>
          <input type="password" id="password" name="password">
      </form>
      <button type="submit" form="sign-up">Sign Up</button>
    </div>
  </body>
</html>
